.box{
    border: 2px solid black;
    padding: 0 10px 0 10px;
    margin: 10px;
    background-color: white;
}

body{
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
}  

header, footer{
    width: 100%;
}

header{
    display: grid;
    grid-template-columns: 5fr 1fr ;
}

aside{
    width: 12%;
}

main{
    width: 80%;
}

.moving_square {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute ;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: 5;
  }
  
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:green; left:00px; top:300px;}
    50%  {background-color:blue; left:300px; top:300px;}
    75%  {background-color:yellow; left:300px; top:00px;}
    100% {background-color:red; left:0px; top:0px;}
  }