[submodule "T-WEB-500-PAR_armel-tandeau-de-marsac"]
	path = T-WEB-500-PAR_armel-tandeau-de-marsac
	url = git@github.com:EpitechMscProPromo2026/T-WEB-500-PAR_armel-tandeau-de-marsac.git
[submodule "T-WEB-500-digitalResume-PAR_armel-tandeau-de-marsac"]
	path = T-WEB-500-digitalResume-PAR_armel-tandeau-de-marsac
	url = git@github.com:EpitechMscProPromo2026/T-WEB-500-digitalResume-PAR_armel-tandeau-de-marsac.git
[submodule "T-WEB-500-day01-PAR_armel-tandeau-de-marsac"]
	path = T-WEB-500-day01-PAR_armel-tandeau-de-marsac
	url = git@github.com:EpitechMscProPromo2026/T-WEB-500-day01-PAR_armel-tandeau-de-marsac.git
[submodule "T-WEB-500-day02-PAR_armel-tandeau-de-marsac"]
	path = T-WEB-500-day02-PAR_armel-tandeau-de-marsac
	url = git@github.com:EpitechMscProPromo2026/T-WEB-500-day02-PAR_armel-tandeau-de-marsac.git
[submodule "T-WEB-500-day03-PAR_armel-tandeau-de-marsac"]
	path = T-WEB-500-day03-PAR_armel-tandeau-de-marsac
	url = git@github.com:EpitechMscProPromo2026/T-WEB-500-day03-PAR_armel-tandeau-de-marsac.git
