header{
    background-color: cyan;
    height: 60px;
    width: 31%;
    margin: 10px 0 10px 0;
}

footer{
    background-color: red;
    height: 60px;
    margin: 0 0 10px 0;
    margin-top: 10 px;
}

section:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
}

section:nth-of-type(1) {
    background-color: greenyellow;
    height: 100px;
    margin: 10px 0 10px 0;
}

article:nth-child(1){
    background-color: yellow;
    height: 100px;
    margin-right: 2%;
    margin-bottom: 10px;
    width: 31%;
}

article:nth-child(2){
    background-color: yellow;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 2%;
    width: 31%;
}

article:nth-child(3){
    background-color: purple;
    height: 100px;
    
    margin-bottom: 10px;
    width: 34%;
}

article:nth-child(4){
    background-color: purple;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 2%;
    width: 31%;
}

article:nth-child(5){
    background-color: pink;
    height: 100px;
    margin-right: 2%;
    margin-bottom: 10px;
    width: 31%;
}

article:nth-child(6){
    background-color: pink;
    height: 100px;
    margin-bottom: 10px;
    width: 34%;
}